html[data-theme='dark']{
    --color-primary: #121212;
    --color-bg-input: #1A1818;
    --color-border-input: transparent;
    --color-font: #ffff;
    --color-accent: #9B8768;
    --color-secondary: #1a1818;
    --color-secondary-gray: #9c9c9c;
    --color-primary-gray: #dedede;
}