html[data-theme='light']{
    --color-primary: #ffff;
    --color-bg-input: #ffff;
    --color-border-input: #dedede;
    --color-font: #121212;
    --color-accent: #9b4b4b;
    --color-secondary: #f3f3f3;
    --color-secondary-gray: #9c9c9c;
    --color-primary-gray: #575757;
}